@import "../variables";
@import "../mixin";
@import "./EmployeeList.scss";
@import "./RegisteredUsers.scss";

#userSettings {
  align-items: center;
  padding-bottom: 64px !important;
  & .userSettings_heading {
    text-align: center;
  }
}
