.calendar {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 32px;
  margin-bottom: 32px;
  width: 100%;
  @media only screen and (max-width: 650px) {
    padding: 0;
  }

  & .month {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    width: 100%;

    & .employees {
      display: grid;
      grid-template-columns: 80px repeat(6, minmax(0, 1fr));
      text-align: center;
      width: 100%;
      max-width: 1000px;
      &.overView {
        grid-template-columns: 70px repeat(6, minmax(0, 1fr));
      }
      &.total5 {
        grid-template-columns: 80px repeat(5, minmax(0, 1fr));
        max-width: 680px;
        &.overView {
          grid-template-columns: 70px repeat(5, minmax(0, 1fr));
        }
      }
      &.total4 {
        grid-template-columns: 80px repeat(4, minmax(0, 1fr));
        max-width: 560px;
        &.overView {
          grid-template-columns: 70px repeat(4, minmax(0, 1fr));
        }
      }

      &.total3 {
        grid-template-columns: 80px repeat(3, minmax(0, 1fr));
        max-width: 440px;
        &.overView {
          grid-template-columns: 70px repeat(3, minmax(0, 1fr));
        }
      }
      &.total2 {
        grid-template-columns: 80px repeat(2, minmax(0, 1fr));
        max-width: 320px;
        &.overView {
          grid-template-columns: 70px repeat(2, minmax(0, 1fr));
        }
      }
      &.total1 {
        grid-template-columns: 80px repeat(1, minmax(0, 1fr));
        max-width: 200px;
        &.overView {
          grid-template-columns: 70px repeat(1, minmax(0, 1fr));
        }
      }
    }
    & #currentDate {
      z-index: 6;
      border-top: 1px solid #523c39 !important;
      outline: 3px solid #523c39 !important;
    }
    & .day {
      position: relative;
      display: grid;
      grid-template-columns: 80px repeat(6, minmax(0, 1fr));
      border-bottom: 1px solid;
      justify-content: space-between;
      text-align: center;
      justify-items: center;
      width: 100%;
      max-width: 1000px;
      min-width: max-content;

      &.overView {
        grid-template-columns: 70px repeat(6, minmax(0, 1fr));
      }
      &.total5 {
        grid-template-columns: 80px repeat(5, minmax(0, 1fr));
        max-width: 680px;
        &.overView {
          grid-template-columns: 70px repeat(5, minmax(0, 1fr));
        }
      }
      &.total4 {
        grid-template-columns: 80px repeat(4, minmax(0, 1fr));
        max-width: 560px;
        &.overView {
          grid-template-columns: 70px repeat(4, minmax(0, 1fr));
        }
      }

      &.total3 {
        grid-template-columns: 80px repeat(3, minmax(0, 1fr));
        max-width: 440px;
        &.overView {
          grid-template-columns: 70px repeat(3, minmax(0, 1fr));
        }
      }
      &.total2 {
        grid-template-columns: 80px repeat(2, minmax(0, 1fr));
        max-width: 320px;
        &.overView {
          grid-template-columns: 70px repeat(2, minmax(0, 1fr));
        }
      }
      &.total1 {
        grid-template-columns: 80px repeat(1, minmax(0, 1fr));
        max-width: 200px;
        &.overView {
          grid-template-columns: 70px repeat(1, minmax(0, 1fr));
        }
      }
      &.sunday {
        border-bottom: 2px solid #523c39 !important;
      }
      &.holiday {
        color: #bd0c0c;
        border-bottom: 1px solid #523c39;
      }
      & .date {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 4px 0;
        gap: 8px;
        font-weight: bold;
        width: 70px;

        & .week {
          position: absolute;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          width: min-content;
          transform: translate(-130%, -10%);

          & span {
            margin-left: 2px;
          }
        }
        & .number {
          text-align: right;
          width: 25px;
        }
      }
      & .shift {
        display: flex;
        width: 100%;
        min-width: 25px;
        justify-content: center;
        font-size: 1.2em;
        font-weight: bold;
        border-left: 1.5px solid #523c39;
        &.free {
          background-color: #b8cbed;
          color: transparent;
        }
      }
    }
  }
}

.monthOverview {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  width: 100%;

  @media only screen and (max-width: 700px) {
    padding: 0 24px;
    gap: 32px;
  }

  & .singleMonth {
    border-right: 1.5px solid #523c39;
    border-left: 1.5px solid #523c39;
    @media only screen and (max-width: 700px) {
      border-right: 2.5px solid #523c39;
      border-left: none;
    }
    &.first {
      border-left: 2.5px solid #523c39;
    }
    &.last {
      border-right: 2.5px solid #523c39;
    }
  }
}
