.button {
  position: relative;
  display: flex;
  flex-direction: row;
  width: fit-content;

  justify-content: flex-start;
  font-size: 1.8em;
  background-color: inherit;
  border: none;
  color: inherit;
  font-weight: bold;
  align-items: center;
  margin: 0 16px !important;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
  &.workers {
    position: relative;
    width: 180px;

    & .filterIcon {
      position: absolute;
      top: 50%;
      display: flex;
      transform: translateY(-50%);
      right: 0;
      font-size: 1.4em;
      transition: all 0.8s ease-in-out;
      cursor: pointer;
      opacity: 0;
      visibility: hidden;
      transform: translate(0, rotate(-45deg));

      &.visible {
        opacity: 1;
        visibility: visible;
        transform: translate(0, rotate(45deg));
        width: fit-content;
      }
    }
  }
  @media only screen and (max-width: $media-XS) {
    margin: 0 !important;
  }
  &.currentMonth {
    position: absolute;
    left: 80px;
    @media only screen and (max-width: $media-XS) {
      position: relative;
      left: 0;
      margin: 0;
    }
  }
  &.currentYear {
    position: absolute;
    left: 0;
  }
  &.currentDay {
    position: absolute;
    left: 0;
    margin: 0;
    @media only screen and (max-width: $media-XS) {
      position: relative;
    }
  }
}
